*
{
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}

.reza{
	color : red;
	backgroundcolor : blue;
	width : 500px;
	height : 100px
		
}

.wrapper
{
	margin-right: auto;
	margin-left: auto;
	background-color: pink;
	width: 1200px;
}
.parent
{
	width: 700px;
	height: 500px;
	background-color: pink;
	position:relative;

	.chile
	{
		width: 100px;
		height: 200px;
		background-color: green;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;


	}

}
